scripts/workflows/Final eBook Summarizer without Merge.json
{
  "name": "Final eBook Summarizer without Merge",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        1296
      ],
      "id": "b0ef9e04-784a-49f7-b962-d84c82eacaf3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/10GQLAP4CuBuXM2SvUBf7ULV4tVhhCXNQx4MBLivXg8s/edit?gid=801323258#gid=801323258",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 801323258,
          "mode": "list",
          "cachedResultName": "(Audio)Grade 9 Computer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10GQLAP4CuBuXM2SvUBf7ULV4tVhhCXNQx4MBLivXg8s/edit#gid=801323258"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        96,
        1296
      ],
      "id": "37b24fb3-5ff5-4d51-a9ff-376e3cebed40",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3ntHRur9tzDGoaj5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Chapter Summary In English'] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "aff25c64-f6a2-4da1-96f5-68dc44be1878"
                  },
                  {
                    "id": "17016061-caf6-43a7-b1b8-58739f596a89",
                    "leftValue": "={{ $json['Audio Status (EN)'] }}",
                    "rightValue": "pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ff36c068-b32f-4234-967f-3bdfc93039c7",
                    "leftValue": "={{ $json['Chapter Summary In Nepali'] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  },
                  {
                    "id": "c4bc157f-e0fd-4c34-afcf-94d34d23624b",
                    "leftValue": "={{ $json['Audio Status (NE)'] }}",
                    "rightValue": "pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        416,
        1264
      ],
      "id": "f4173f87-ae0a-43b2-a371-5a11d2313de6",
      "name": "Switch"
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "={{ $json['Topic Names'] }}_en.mp3",
        "driveId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/1DyZeLC6KAt0tElaPyHsWHCprC7lc3-MQ",
          "mode": "url"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/1DyZeLC6KAt0tElaPyHsWHCprC7lc3-MQ",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1648,
        1008
      ],
      "id": "b6f17ffc-4fd9-46b9-9ba1-999bdc3585b2",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0O2IN0zb9SsymIBs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ed038292-57d2-4e6c-8be8-972e9f75e375",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "c54d30d3-7b3c-41e8-b454-4282c0605806",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1424,
        1008
      ],
      "id": "f5749a69-ce57-47d0-88f0-421eb84b6ac1",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/10GQLAP4CuBuXM2SvUBf7ULV4tVhhCXNQx4MBLivXg8s/edit?gid=801323258#gid=801323258",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": 801323258,
          "mode": "list",
          "cachedResultName": "(Audio)Grade 9 Computer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10GQLAP4CuBuXM2SvUBf7ULV4tVhhCXNQx4MBLivXg8s/edit#gid=801323258"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Remarks": "Issue in audio, not uploaded."
          },
          "matchingColumns": [
            "Topic Names"
          ],
          "schema": [
            {
              "id": "9",
              "displayName": "9",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Book Name",
              "displayName": "Book Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Topic Names",
              "displayName": "Topic Names",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Page Count",
              "displayName": "Page Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chapter Summary In English",
              "displayName": "Chapter Summary In English",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chapter Summary In Nepali",
              "displayName": "Chapter Summary In Nepali",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio Status (EN)",
              "displayName": "Audio Status (EN)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio URL (EN)",
              "displayName": "Audio URL (EN)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio Status (NE)",
              "displayName": "Audio Status (NE)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio URL (NE)",
              "displayName": "Audio URL (NE)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content PoC",
              "displayName": "Content PoC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio QC",
              "displayName": "Audio QC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio Remarks",
              "displayName": "Audio Remarks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio Reference - English",
              "displayName": "Audio Reference - English",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio Reference - Nepali",
              "displayName": "Audio Reference - Nepali",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remarks",
              "displayName": "Remarks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Embed Audio to eBook",
              "displayName": "Embed Audio to eBook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1200,
        1232
      ],
      "id": "c2dbd236-36bd-47c6-a13e-d210b7945576",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3ntHRur9tzDGoaj5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        752,
        1104
      ],
      "id": "61a74cfb-3ebb-4a1b-a893-c088ca1b27aa",
      "name": "Wait",
      "webhookId": "f9e96ebe-e50d-409e-a533-1b7f45dd74aa"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        752,
        1488
      ],
      "id": "de45bf10-96c8-4000-9c87-27c8d7a23251",
      "name": "Wait1",
      "webhookId": "2067de6d-1c85-4c84-8622-eb31dcd1806a"
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "={{ $json['Topic Names'] }}_np.mp3",
        "driveId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/0/folders/1lYiHfNbh9O1SVJrR6NvVzn_f4TrcWDyz",
          "mode": "url"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/0/folders/1lYiHfNbh9O1SVJrR6NvVzn_f4TrcWDyz",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1648,
        1488
      ],
      "id": "6eadb067-f3ed-4e37-a97c-1056f6dabfeb",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0O2IN0zb9SsymIBs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ed038292-57d2-4e6c-8be8-972e9f75e375",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1440,
        1488
      ],
      "id": "ab809374-b434-43b8-b55d-3ad24012d5c9",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "10GQLAP4CuBuXM2SvUBf7ULV4tVhhCXNQx4MBLivXg8s",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 801323258,
          "mode": "list",
          "cachedResultName": "Grade 9 Computer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10GQLAP4CuBuXM2SvUBf7ULV4tVhhCXNQx4MBLivXg8s/edit#gid=801323258"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Audio Status (NE)": "generated",
            "Audio URL (NE)": "={{ $(\"Upload file1\").item.json.webViewLink }}",
            "Topic Names": "={{ $('Get row(s) in sheet').item.json['Topic Names'] }}"
          },
          "matchingColumns": [
            "Topic Names"
          ],
          "schema": [
            {
              "id": "S.N.",
              "displayName": "S.N.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Book Name",
              "displayName": "Book Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Topic Names",
              "displayName": "Topic Names",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Page Count",
              "displayName": "Page Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chapter Summary In English",
              "displayName": "Chapter Summary In English",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chapter Summary In Nepali",
              "displayName": "Chapter Summary In Nepali",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio Status (EN)",
              "displayName": "Audio Status (EN)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Audio URL (EN)",
              "displayName": "Audio URL (EN)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Audio Status (NE)",
              "displayName": "Audio Status (NE)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Audio URL (NE)",
              "displayName": "Audio URL (NE)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ElevenLabs Voice (EN)",
              "displayName": "ElevenLabs Voice (EN)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ElevenLabs Voice (NE)",
              "displayName": "ElevenLabs Voice (NE)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Updated At",
              "displayName": "Updated At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1872,
        1488
      ],
      "id": "fc3a1b4a-7602-41e8-bab2-31977aaee580",
      "name": "Update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3ntHRur9tzDGoaj5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "10GQLAP4CuBuXM2SvUBf7ULV4tVhhCXNQx4MBLivXg8s",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 801323258,
          "mode": "list",
          "cachedResultName": "Grade 9 Computer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10GQLAP4CuBuXM2SvUBf7ULV4tVhhCXNQx4MBLivXg8s/edit#gid=801323258"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Audio URL (EN)": "={{ $(\"Upload file\").item.json.webViewLink }}",
            "Audio Status (EN)": "generated",
            "Topic Names": "={{ $('Get row(s) in sheet').item.json['Topic Names'] }}"
          },
          "matchingColumns": [
            "Topic Names"
          ],
          "schema": [
            {
              "id": "S.N.",
              "displayName": "S.N.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Book Name",
              "displayName": "Book Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Topic Names",
              "displayName": "Topic Names",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Page Count",
              "displayName": "Page Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chapter Summary In English",
              "displayName": "Chapter Summary In English",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chapter Summary In Nepali",
              "displayName": "Chapter Summary In Nepali",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio Status (EN)",
              "displayName": "Audio Status (EN)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Audio URL (EN)",
              "displayName": "Audio URL (EN)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Audio Status (NE)",
              "displayName": "Audio Status (NE)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio URL (NE)",
              "displayName": "Audio URL (NE)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ElevenLabs Voice (EN)",
              "displayName": "ElevenLabs Voice (EN)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ElevenLabs Voice (NE)",
              "displayName": "ElevenLabs Voice (NE)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Updated At",
              "displayName": "Updated At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1872,
        1008
      ],
      "id": "c81fcb94-515e-4c3b-9f02-055ad367ff39",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3ntHRur9tzDGoaj5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## eBook Summarizer Automation (TTS using Eleven labs)\n\nAdd the summarized text (English and Nepali) on the [Sheet](https://docs.google.com/spreadsheets/d/10GQLAP4CuBuXM2SvUBf7ULV4tVhhCXNQx4MBLivXg8s/edit?gid=801323258#gid=801323258), and change the Audio status to pending.\n\nExecute the Workflow! That's it!\n\nFlow:\nFetch Summarized text -> Switch passes it to Elevenlabs (IF Success )-> Upload the file to drive and change the status from pending the generated along with the generated audio link attached. \n(IF failed) -> Mark as failed and outputs the error message to the remarks column on sheets.\n\n## Attach Header and footer Audio sample across every generated audio #TODO",
        "height": 304,
        "width": 902
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "53994cbf-fb77-457f-816c-28ca2c185057",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1200,
        1008
      ],
      "id": "5f62b468-5e09-4f3b-b61c-07856d273d9f",
      "name": "Merge EN"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1280,
        1488
      ],
      "id": "f9146c15-7494-4927-ad74-6f7679280d66",
      "name": "Merge NE"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/10GQLAP4CuBuXM2SvUBf7ULV4tVhhCXNQx4MBLivXg8s/edit?gid=801323258#gid=801323258",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": 801323258,
          "mode": "list",
          "cachedResultName": "(Audio)Grade 9 Computer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10GQLAP4CuBuXM2SvUBf7ULV4tVhhCXNQx4MBLivXg8s/edit#gid=801323258"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "9",
              "displayName": "9",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Book Name",
              "displayName": "Book Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Topic Names",
              "displayName": "Topic Names",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Page Count",
              "displayName": "Page Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chapter Summary In English",
              "displayName": "Chapter Summary In English",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chapter Summary In Nepali",
              "displayName": "Chapter Summary In Nepali",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio Status (EN)",
              "displayName": "Audio Status (EN)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio URL (EN)",
              "displayName": "Audio URL (EN)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio Status (NE)",
              "displayName": "Audio Status (NE)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio URL (NE)",
              "displayName": "Audio URL (NE)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content PoC",
              "displayName": "Content PoC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio QC",
              "displayName": "Audio QC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio Remarks",
              "displayName": "Audio Remarks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio Reference - English",
              "displayName": "Audio Reference - English",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio Reference - Nepali",
              "displayName": "Audio Reference - Nepali",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remarks",
              "displayName": "Remarks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Embed Audio to eBook",
              "displayName": "Embed Audio to eBook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        1664
      ],
      "id": "328d6562-4d8c-4393-8be3-c213e866453a",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3ntHRur9tzDGoaj5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "cgSgspJ2msm6clMCkdW9",
          "mode": "id"
        },
        "text": "={{ $json['Chapter Summary In English'] }}",
        "additionalOptions": {
          "model": {
            "__rl": true,
            "value": "eleven_v3",
            "mode": "list",
            "cachedResultName": "Eleven v3"
          },
          "voiceSettings": "{\n  \"stability\": 1,\n  \"similarity_boost\": 1,\n  \"style\": 0,\n  \"use_speaker_boost\": true,\n  \"speed\": 1\n}"
        },
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        928,
        1152
      ],
      "id": "8b1c7c17-ac7b-42b6-9ba9-0f5b83292bdf",
      "name": "Convert text to speech",
      "credentials": {
        "elevenLabsApi": {
          "id": "e8YTFXz0VeoFu6X1",
          "name": "ElevenLabs account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "cgSgspJ2msm6clMCkdW9",
          "mode": "id"
        },
        "text": "={{ $json['Chapter Summary In Nepali'] }}",
        "additionalOptions": {
          "model": {
            "__rl": true,
            "value": "eleven_v3",
            "mode": "list",
            "cachedResultName": "Eleven v3"
          },
          "voiceSettings": "{\n  \"stability\": 1,\n  \"similarity_boost\": 1,\n  \"style\": 0,\n  \"use_speaker_boost\": true,\n  \"speed\": 1\n}"
        },
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        976,
        1600
      ],
      "id": "f85aed07-5bc7-4d43-9ba0-2a09ba7ce61a",
      "name": "Convert text to speech1",
      "credentials": {
        "elevenLabsApi": {
          "id": "e8YTFXz0VeoFu6X1",
          "name": "ElevenLabs account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Merge EN",
            "type": "main",
            "index": 1
          },
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Merge NE",
            "type": "main",
            "index": 1
          },
          {
            "node": "Convert text to speech1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge EN": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge NE": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech1": {
      "main": [
        [
          {
            "node": "Merge NE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech": {
      "main": [
        [
          {
            "node": "Merge EN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3da3c3fa-5861-4cee-8558-4029675b3855",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5c5691db65e9ceb5e66b81b7760c2eb04a60704ca9d3d255d29d2377d899af61"
  },
  "id": "sEfaL1avy9TwY59K",
  "tags": []
}